---
import Layout from '../layouts/Layout.astro'
import { Dashboard } from '../components/svelte'
---

<Layout title="balanceit - Smart Budgeting">
  <h1 class="mb-6 text-3xl font-bold dark:text-white-100">
    Welcome to balanceit
  </h1>
  <Dashboard client:only="svelte" />
</Layout>
